.container {
    margin-top: 10px;
    display: flex;
    box-shadow: 0 1px 4px #aeaeae;
    .img-wrapper {
        border: 1px solid black;
        width: 220px;
        height: 220px;
        margin: 15px;
        display: inline-block;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .hover-wrapper{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: #0000005d;
            display: none;

            .upload-btn{
                position: absolute;
                bottom: 90px;
                left: 50%;
                transform: translate(-50%);
            }
            .remove-btn {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%);
                width: 147px;
            }
        }
    }
    .img-wrapper:hover {
        .hover-wrapper{
            display: block;
        }
    }
    .form-user {
        flex: 1;

        label {
            width: 100px;
            display: inline-block;
        }
        .pin-code-wrapper {
            margin: 15px 0px;
            width: 300px;

            .pin-code {
                font-size: 24px;
                color: blue;
                font-style: italic;
                font-weight: bold;
            }
        }
        .name-wrapper {
            margin-top: 5px;

            .input-wrapper {
                display: inline-block;
            }
        }
        .btn-wrapper {
            margin: 12px 0px;
            width: 299px;

            button {
                width: 100%;
            }
            .btn-change-password {
                background-color: grey;
            }
        }
        .balance-wrapper {
            margin: 12px 0px;
            width: 300px;
            cursor: pointer;

            .amount {
                margin-left: 20px;
            }
            a {
                margin-left: 20px;
                text-decoration: underline;
                color: blue;
            }
        }
    }
}

.user-details-wrapper {
    display: flex;

    .address-wrapper {
        margin: 15px;
        flex: 1;
        min-width: 350px;

        .title {
            font-size: 24px;
            text-align: center;
        }

        .input-wrapper {
            margin: 15px;
            display: flex;
            align-items: center;

            label {
                width: 150px;
            }

            input {
                flex: 1;
            }
        }

        .btn-wrapper {
            text-align: center;

            button {
                width: 200px;
                margin: 15px;
            }
        }
    }

    .payment-wrapper {
        margin: 15px;
        flex: 1;
        min-width: 350px;

        .title {
            font-size: 24px;
            text-align: center;
        }

        .input-wrapper {
            display: flex;
            margin: 15px;
            align-items: center;

            label {
                width: 150px;
            }

            input {
                flex: 1;
            }
        }

        .card-number-wrapper {
            display: flex;
            margin: 15px;
            align-items: center;

            label {
                width: 150px;
            }
            input {
                flex: 1;
                min-width: 50px;

                &:not(:first-of-type) {
                    margin-left: 10px;
                }
                &:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
        }

        .expiration-date-dropdown-wrapper {
            display: flex;
            margin: 15px;
            align-items: center;

            label {
                width: 150px;
            }

            .month{
                margin-right: 10px;
            }
        }
        .cvv-input-wrapper {
            display: flex;
            margin: 15px;
            align-items: center;
        }

        label {
            width: 150px;
        }

        input {
            flex: 1;
        }

        .btn-wrapper {
            text-align: center;

            button {
                width: 200px;
                margin: 15px;
            }
        }
    }
}

.password-dialog-wrapper {
    .input-wrapper {
        margin: 22px;
    }
    .save-btn {
        text-align: center;
        width: 282px;
        margin: 0px 22px;

        button {
            text-align: center;
            width: 190px;
        }
    }
}

.balance-dialog-wrapper {
    .input-wrapper {
        margin: 22px;
    }
    .add-btn {
        text-align: center;
        width: 282px;

        button {
            text-align: center;
            width: 190px;
            margin: 22px;
        }
    }
}
