<div class="container">

    <div class="attachments-wrapper">
        <div class="small-attachments-wrapper" >
            <div class="small-attachment" *ngFor="let attachment of product.attachments" (click)="changePrimaryAttachment(attachment)">
                <img [src]="attachment | secure | async" *ngIf="attachment != null">
            </div>
        </div>
        <div class="primary-attachment">
            <img [src]="product.primaryAttachmentUrl | secure | async" *ngIf="product.primaryAttachmentUrl !=null">
        </div>
    </div>

    <div class="details-wrapper">
        <div class="name-wrapper"> {{product.name}} </div>
        <div class="price-wrapper">Price: ${{product.price}} </div>
        <div class="details"> {{product.description}} </div>
    </div>

    <div class="stock-cart-wrapper">
        <div class="stock" *ngIf="5 >=product.stock ">Only {{product.stock}} left in stock - order soon</div>
        <div class="cart">
            <button pButton pRipple type="submit" label="Add To Cart" class="cart-btn" icon="pi pi-shopping-cart"
                (click)="cartClick()"  ></button>
        </div>

    </div>

</div>

<div class="textarea-wrapper">
    <textarea placeholder="Write a comment" [(ngModel)]="newCommentDescription"></textarea>
</div>

<div class="btn-wrapper">
    <button pButton pRipple type="submit" label="Add Comment" (click)="addCommentClick()"></button>
</div>

<div class="comment-wrapper" *ngFor="let comment of product.comments">
    <div class="comment-details">
        <div class="avtor"><b> Writen By:</b> {{comment.author}} </div>
        <div class="date"><b> At: </b> {{ comment.createDate | date : 'dd/MM/yyyy HH:mm:ss'}} </div>
    </div>
    <div class="description"> {{comment.description }}</div>
</div>